### 1) How-to-count-distance-to-the-previous-zero
       
       For each value, count the difference of the distance from the previous zero (or the start
       of the Series, whichever is closer) and if there are no previous zeros,print the position
       
       Consider a DataFrame df where there is an integer column 
       
       {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
       The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
        
        import pandas as pd
        df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

### Functional Approach

In [14]:
import pandas as pd
import numpy as np

In [15]:
def complex(df):
    res=[]
    flag1=0
    
    ix=df.index[df['X'] == 0].tolist()

    for i in df.index.values:
        for j in ix:
            if i < j and flag1==0 :
                res.append(i+1)
                break
        
            elif i == j and flag1==0:
                res.append(0)
                break
        
            elif i > j:
                flag=j
                flag1=1
            
        if flag1==1:
            if df.iloc[i][0] == 0:
                res.append(0)
            else:
                res.append(i-flag)
            
    df['Y'] = res
    return df

In [16]:
frame1 = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
frame_out1=complex(frame1)
frame_out1

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [17]:
frame2 = pd.DataFrame({'X': [1,7, 2, 0, 3, 4, 2, 3, 5, 0, 3, 4,0,1,4,0,5,6,88,0]})
frame_out2=complex(frame2)
frame_out2

     X  Y
0    1  1
1    7  2
2    2  3
3    0  0
4    3  1
5    4  2
6    2  3
7    3  4
8    5  5
9    0  0
10   3  1
11   4  2
12   0  0
13   1  1
14   4  2
15   0  0
16   5  1
17   6  2
18  88  3
19   0  0

### Non function approach

In [18]:
df=pd.DataFrame({'X': [7, 2, 0, 3, 0, 4, 2, 5, 0, 3, 4]})
ix=df.index[df['X'] == 0].tolist()

res=[]
flag1=0

for i in df.index.values:
    for j in ix:
        if i < j and flag1==0 :
            res.append(i+1)
            break
        
        elif i == j and flag1==0:
            res.append(0)
            break
        
        elif i > j:
            flag=j
            flag1=1
            
    if flag1==1:
        if df.iloc[i][0] == 0:
            res.append(0)
        else:
            res.append(i-flag)

df['Y'] = res

In [19]:
df

    X  Y
0   7  1
1   2  2
2   0  0
3   3  1
4   0  0
5   4  1
6   2  2
7   5  3
8   0  0
9   3  1
10  4  2

### 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers.
        
        Find the sum of the values in s for every Wednesday
        Average For each calendar month
        For each group of four consecutive calendar months in s, find the date on which the highest value occurred

In [20]:
myindex=pd.bdate_range('1/1/2015','31/12/2015')

In [21]:
myindex

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [22]:
import random
mydata=[]
for i in range(1,262):
    mydata.append(random.randint(1,101))

In [23]:
s=pd.Series(data=mydata,index=myindex)

### Find the sum of the values in s for every Wednesday

In [24]:
s[s.index.to_datetime().weekday_name =='Wednesday'].sum()

2819

### Average For each calendar month

In [25]:
s.groupby(s.index.to_datetime().month).mean()

1     57.090909
2     52.900000
3     50.909091
4     56.818182
5     43.809524
6     43.909091
7     56.000000
8     56.285714
9     48.954545
10    53.045455
11    45.904762
12    59.130435
dtype: float64

### For each group of four consecutive calendar months in s, find the date on which the highest value occurred

In [26]:
s.groupby(pd.TimeGrouper('4M')).max()

2015-01-31    101
2015-05-31    100
2015-09-30    101
2016-01-31    101
Freq: 4M, dtype: int64